

.card img {
    border-radius: 8px; /* Resmin kenarlarını yuvarlat */
}

.App {
    text-align: center;
    padding: 20px;
}

.baslik {
    margin-bottom: 20px;
    font-size: 25px ;
    color: orange;
}

.card-container {
    display: flex; /* Flexbox kullanımı */
    flex-wrap: wrap; /* Kartların alt satıra geçmesini sağlar */
    justify-content: center; /* Kartları yatayda ortalar */
    gap: 20px; /* Kartlar arasında boşluk bırakır */
}